.catagories{
  height:50vh;
}
.imgaes-catagourie img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 108px;
  aspect-ratio: 209/187;
  object-fit: cover;
}
.swiper-custom-pagination{
  color: aqua!important;
  background-color: red;
  
}
.swiper{
  padding: 40px!important;
}