
.catagories{
  height:100vh;
}
.imgaes-catagourie img{
  box-shadow: 1px 10px 8px;
  width: 108px;
  aspect-ratio: 209/187;
  object-fit: cover;
}
.swiper-custom-pagination{
  color: aqua!important;
  background-color: red;
  
}
.swiper{
  padding: 40px!important;
}
.categories-admin img{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: solid 5px rgb(42, 106, 243);
}
.categories-admin img:hover{
  box-shadow: 3px 3px 3px 3px rgb(184, 186, 190);
}