
.catagories{
  height:100vh;
}
.imgaes-catagourie img{
  box-shadow: 1px 10px 8px;
  width: 108px;
  aspect-ratio: 209/187;
  object-fit: cover;
}
.swiper-custom-pagination{
  color: aqua!important;
  background-color: red;
  
}
.swiper{
  padding: 40px!important;
}