.forms{
  box-shadow: 5px 5px 5px rgba(100,100,100,0.999999999999999999);
  border: none;
  transition: all ease 0.3s;
  background-position:center 70%;
  background-color: white!important;
  width: 66%;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.bg-forms{
background-image: url(/img/img-bg2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.phone-width-login{
  width: 40%;
}
@media screen and (max-width:600px){
  :root{
    font-size: 12px;
  }
  .phone-width-login{
    width:70% !important;
  }
}