.info-content{
  margin: auto;
  box-shadow: 1px 10px 8px;
  aspect-ratio: 209/187;
  object-fit: cover;
  
}
.operator-image{
  display: flex;
  justify-content: center;
}
.operator-image img{
  width: 150px;
  height: 150px;
}
@media (max-width:600px){
  .operator-image img{
    width: 90px;
    height: 90px;
  }
  
}