/*start root*/
:root{
  --main-color:#c8e2ed;
 
  --main:#e6b59e;
}

a{
  text-decoration: none;
}
/*end root*/
/*start navbar*/
.logo{
  width:10rem;
  cursor: pointer;
}
.navbar .nav-item a:hover{
  color:var(--main)!important;
}



.base-sing span{
  font-family: 'Young Serif', serif;
  font-size: large;
  font-weight:600px;
}

.navbar{
  border-radius: 25px;
  top:7px;
  background-color:#103238;
  width: 80%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.about{
  color:#b1b5b5 !important;
}
.back{
  width: 80%;
  margin: auto;
}
/*end navbar*/
/*start media*/
@media screen and (max-width:600px){
  :root{
    font-size: 12px;
  }
  .nav-item .nav-link{
    color:black !important;
  }
  .nav-item .down{
    color:black !important;
  }
  .navbar{
    border-radius:0px;
    top:0;
    background-color: #467FA2;
    width: 100%;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
}
  .back{
    width: 100%;
    margin: auto;
  }
  
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
}
}
/*end media*/