.tourlist-web{
  display: flex;
  align-items: center;
  margin-top: 120px;
}
.tourlist-web .image{
  display: flex;
  width: 100%;
  justify-content: center;
}
.tourlist-web .image img{
  width: 50%;
}
@media (max-width:600px){
  .tourlist-web{
    display: flex;
    align-items: center;
  }
  .tourlist-web .image img{
    width: 25%;
  }
}