.profile {
  display: flex;
  height: 80vh;
  margin-left: 100px;
  align-items: center;
}

.profileLinks {
  background-color: #103238;;
  width: 250px;
  padding: 20px;
  color: white;
}

.profileLinks nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;

}
.button{
background-color:#34495e!important; ;
}
.profileLinks nav a {
  text-decoration: none;
  color: #ecf0f1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.profileLinks nav a:hover {
  background-color: #34495e;
}

.userData {
  flex-grow: 1;
  padding: 20px;
}
.userData img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
.ChangePassword{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 6px 10px rgba(0,0,0,0.6);
  background-color: #c8e2ed;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 600px) {
  .profileLinks {
    border-radius: 0; /* Reset border-radius for small screens */
    width: 100px;
    background-color: #467FA2;
  }
  
.profile {
  display: flex;
  height: 80vh;
  margin-left: 20px;
}
  .userData {
    padding: 10px; /* Adjust padding for small screens */
  }

  .userData img {
    margin-bottom: 10px; /* Adjust margin for small screens */
  }

  .ChangePassword {
    padding: 10px; /* Adjust padding for small screens */
    width: 100%!important;
  }
  
}
@media (min-width: 601px) and (max-width: 900px) {
  .profileLinks {
    border-radius: 0; /* Reset border-radius for medium screens */
    width: 100px;
    background-color: #467FA2;
  }

  .profile {
    display: flex;
    height: 80vh;
    margin-left: 20px;
  }

  .userData {
    padding: 10px; /* Adjust padding for medium screens */
  }

  .userData img {
    margin-bottom: 10px; /* Adjust margin for medium screens */
  }

  .ChangePassword {
    padding: 10px; /* Adjust padding for medium screens */
    width: 100%!important;
  }
}