/*start root*/
:root{
  --main-color:#c8e2ed;
  --main:#40E0D0;
}
.main-color{
  color: #40E0D0;
}
a{
  text-decoration: none;
}
/*end root*/
/*start navbar*/
.logo{
  width: 12rem !important;;
  cursor: pointer;
}
/* Navbar.css */
.logo-small {
  width: 8rem !important;
}

.navbar .nav-item a:hover{
  color: var(--main);
}
.sing-in{
  width:5% !important;
}
.dropdown-content {
  background-color: #363430;
  top:40px;
  right: -168px;
  display: none;
  position: absolute;
  min-width: 350px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

}
.base-sing h6{
  color:#9dab39;
}
.base-sing a{
  color:white !important;
}

.base-sing a:hover{
  text-decoration: underline;
}
.base-sing span{
  font-family: 'Young Serif', serif;
  font-size: large;
  font-weight:600px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Navbar.css */

.navbar{
  border-radius: 25px;
  top:7px;
  background-color:#103238;
  width: 80%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.about{
  color:#b1b5b5 !important;
}
.back{
  width: 80%;
  margin: auto;
}

@media screen and (max-width:600px){
  :root{
    font-size: 12px;
  }
  .nav-item .nav-link{
    color:black !important;
  }
  .navbar{
    border-radius:0px;
    top:0;
    width: 100%;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
}
  .back{
    width: 100%;
    margin: auto;
  }
  
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
}
}
/*end media*/