.profile {
  display: flex;
  margin-top: 120px;
  height: 80vh;
}

.profileLinks {
  background-color: #2c3e50;
  width: 250px;
  padding: 20px;
  color: white;
  border-radius:0 20% 20% 0;
  -webkit-border-radius:0 20% 20% 0;
  -moz-border-radius:0 20% 20% 0;
  -ms-border-radius:0 20% 20% 0;
  -o-border-radius:0 20% 20% 0;
}

.profileLinks nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileLinks nav a {
  text-decoration: none;
  color: #ecf0f1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.profileLinks nav a:hover {
  background-color: #34495e;
}

.userData {
  flex-grow: 1;
  padding: 20px;
}

.userData img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
.ChangePassword{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 6px 10px rgba(0,0,0,0.2);
  background-color: #2c3e50;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 600px) {
  .profileLinks {
    border-radius: 0; /* Reset border-radius for small screens */
    width: 100px;
  }

  .userData {
    padding: 10px; /* Adjust padding for small screens */
  }

  .userData img {
    margin-bottom: 10px; /* Adjust margin for small screens */
  }

  .ChangePassword {
    padding: 10px; /* Adjust padding for small screens */
  }
}