.forms{
  box-shadow: 5px 5px 5px rgba(100,100,100,0.999999999999999999);
  border: none;
  transition: all ease 0.3s;
  background-color: #CFCEAA;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}